body {
    overflow-x: hidden;
    background-color: #e2edff;
    font-family: "Poppins", sans-serif;
    /* height: 250vh; */
  }

.navbar-brand {
    font-family: "Pacifico", cursive;
    font-size: 25px;
  }

.nav-link {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
  }

.nav-link:hover {
    text-decoration: underline;
  }

#search {
    margin-top: 63px;
    background-color: rgba(08, 90, 200);
}

.header-market {
  font-family: 'Ubuntu', sans-serif;
}

#image-prdct {
  width: 100px;
  height: 100px;
}

@media (max-width: 767px) {
  .products {
    text-align: center;
  }

}
